@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/JosefinSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/JosefinSans-Bold.woff2") format("woff2");
}