@import url("./_normalize.css");
@import url("./_fonts.css");
@import url("./_vars.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  color: var(--color-text-primary);
  height: 100%;
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
  height: 100%;
  background: url('../assets/images/bg-mobile-dark.jpg') no-repeat top/contain var(--color-background);
}

#root {
  height: 100%;
}